<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Blank </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button color="primary" (click)="getNetworks()">Get Network</ion-button>
  <ion-list>
    <ion-item *ngFor="let data of results"> {{data}} </ion-item>
  </ion-list>
</ion-content>

<ion-content [fullscreen]="true">
  <p>Latitude: {{lat}}, Longitude: {{lng}}, Altitude: {{alt}}</p>
  <ion-button color="primary" (click)="getPosition()">Get Position</ion-button>
</ion-content>
