<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Blank </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <span
    >OK: {{this.ok}} ; EMPTIES: {{this.empties}} ; ERRORS: {{this.errors}} -
    {{this.lastError}}</span
  >
  <ion-toggle
    color="primary"
    [(ngModel)]="startService"
    (ionChange)="startScan()"
    >Start Scan</ion-toggle
  >
  <ion-list>
    <ion-item *ngFor="let data of results"> {{data}} </ion-item>
  </ion-list>
</ion-content>
